// After-the-fact units!
$header-width: 85px;
$header-height: 420px;
body > header {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: $header-width;
	height: $header-height;
	margin-right: $gap;
	.wrapper {
		position: absolute;
		top: -$header-width;
		right: 0px;
		width: $header-height;
		text-align: right;
		@include apply-origin(right bottom, false);
		@include rotate(-90deg);
		div {
			display: inline-block;
			text-align: right;
			letter-spacing: 0.12em;
			vertical-align: bottom;
			h1 {
				line-height: 1em;
				font-size: 30px !important;
				letter-spacing: 0.12em;
				margin-bottom: 6px;
			}
			h2 {
				line-height: 1em;
				font-size: 21px !important;
				letter-spacing: 0.12em;
				margin-bottom: 13px;
			}
		}
		img {
			display: inline-block;
			margin-left: 40px;
		}
	}
}
