// After-the-fact units!
$header-width: 85px;
$header-height: 420px;
body > header {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	width: $header-width;
	height: $header-height;
	.wrapper {
		position:relative;
		top: -$header-width;
		left: -$header-height + $header-width;
		width: $header-height;
		height: $header-width;
		text-align: right;
		@include transform-style(flat);
		@include apply-origin(right bottom, false);
		@include rotate(-90deg);
		float: left;
		div {
			display: inline-block;
			text-align: right;
			letter-spacing: 0.12em;
			vertical-align: bottom;
			padding-bottom: 13px;
			padding-right: 40px;
		}
		img {
			display: inline-block;
		}
	}
}
