{{ partial "header.html" . }}
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .posts {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
</head>
<body>
<h2>About</h2>
<p>
  <a href="https://twitter.com/{{.Site.Params.twitterhandle}}">Das Surma</a>: Googler on the web. Internetrovert. Craving simplicity, finding it nowhere.
</p>
<h2>Most recent things</h2>
<ul class="posts">
  {{ range .Site.Pages}}
    {{ if eq .Params.live "true" }}
      <li>
          {{ .Params.tags }}
        <a href="{{.Permalink | relURL}}">{{.Title}}</a>
        <small>({{ .Date.Format "2006-01-02" }})</small>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ if eq (printf "%s" .Site.BaseURL) "https://staging.surma.link"}}
  <h2>Drafts</h2>
  <ul class="posts drafts">
    {{ range .Site.Pages}}
      {{ if not (eq .Params.live "true") }}
        <li>
            {{ .Params.tags }}
          <a href="{{.Permalink | relURL}}">{{.Title}}</a>
          <small>({{ .Date.Format "2006-01-02" }})</small>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}
