body {
  display: flex;
}
.box {
  width: 512px;
  height: 512px;
  background-color: bisque;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  color: blue;
  font-size: 20px;
}
