@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import "compass/reset";

$columns: 16;
$lightgray: lighten(black, 80%);

@mixin span($n) {
	width: 99%*$n/$columns;
}

html, body {
	font-family: 'Quattrocento', serif;
	height: 100%;
}

body {
	padding: 5px;
}


.container {
	position: relative;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 800px;

	#email {
		font-size: 22px;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 20px;
		span.letter {
			display: inline-block;
			text-align: center;
			@include span(1);
		}
	}
}

footer {
	color: $lightgray;
	text-align: right;
	font-size: 8px;
	a {
		text-decoration: none;
		color: inherit;
	}
}
