@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import "compass/reset";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";

$columns: 16;
$lightgray: lighten(black, 80%);

$email_normal: $lightgray;
$email_highlighted: black;

@mixin span($n) {
	width: 99%*$n/$columns;
}

html, body {
	font-family: 'Quattrocento', serif;
	height: 100%;
}

body {
	padding: 5px;
}


#container {
	position: relative;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 500px;

	#email {
		font-size: 22px;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 20px;
		span.letter {
			text-shadow: 1px 3px 3px $lightgray;
			color: $email_normal;
			display: inline-block;
			text-align: center;
			@include span(1);
			@include single-transition("color", 1s);
			&.highlighted {
				color: $email_highlighted;
			}
		}
	}
}

footer {
	color: $lightgray;
	text-align: right;
	font-size: 8px;
	a {
		text-decoration: none;
		color: inherit;
	}
}
