@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "config/vars";
@import "config/fonts";

* {
        @include box-sizing(border-box);
}

body {
	background-color: $light;
	width: $main-width;
	padding: $main-padding;
	margin: 0 auto;
    @include normal-text();
}

@import "fragments/header/styling";
@media (min-width: 1024px) {
	@import "fragments/header/w1024";
}
