@import '_colors.scss';
@import '_fonts.scss';

@import '../../bower_components/reset-scss/reset';

body {
  background-color: $darker;
}

#searchpanel {
  background-color: $dark;
  opacity: 0;
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity ease-in-out 150ms;

  &.transitioning {
    visibility: visible;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

#buttonpanel {
  background-color: $light;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    color: $darker;
    font-size: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    padding: 6px;
    transition: color ease-in-out 150ms;
    cursor: pointer;
    &:hover {
      color: $dark;
    }
  }
}
