---
layout: nosocial
title: Obituary
---
<section id="projectlist">
	<dl>
		{% for post in site.posts %}
			{% if post.categories contains "project" %}
			<dt>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</dt>
			<dd>
				<div class="dates">
					<span class="nobr">✝ {{ post.date | date: "%d %B %Y" }},</span>
					<span class="nobr">﹡ {% if post.startdate %}
						{{ post.startdate | date: "%d %B %Y"}}
					{% else %}
						unknown
					{% endif %}</span>
				</div>
				<div class="obituary">
					{% if post.obituary %}
						{{ post.obituary }}
					{% else %}
						We are left speechless.
					{% endif %}
				</div>
			</dd>
			{% endif %}
		{% endfor %}
	</dl>
</section>
<section id="social">
<g:plusone size="medium" href="http://www.78762.de/"></g:plusone>
<a href="http://twitter.com/share" data-url="http://www.78762.de/" data-text="Project ideas by @surmair" class="twitter-share-button">Tweet</a>
<fb:like href="http://www.78762.de/" send="false" layout="button_count" width="110" show_faces="false" action="like"></fb:like>
</section>
