<h2>Articles</h2>
<ul class="things collection">
  <%- include("../_includes/listing", {items: collections.things, max: 5}) %>
  <li class="more"><a href="/things/index.html">… all articles</a></li>
</ul>

<h2>PostIt Notes</h2>
<ul class="postits collection">
  <%- include("../_includes/listing", {items: collections.postits, max: 5}) %>
  <li class="more"><a href="/postits/index.html">… all postits</a></li>
</ul>


<h2>Recent experiments</h2>
<ul class="lab collection">
  <%- include("../_includes/listing", {items: collections.lab, max: 5}) %>
  <li class="more"><a href="/lab/index.html">… all experiments</a></li>
</ul>