<h2>Posts</h2>
<ul class="things">
<%
  const things = collections.things
    .filter(item => item.data.live !== false)
    .sort((a, b) => {
      return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
    });
  for(const thing of things) {
%>
  <li><a href="<%= thing.url %>"><%= thing.data.title %></a><span class="date"> — <%= Intl.DateTimeFormat("en-US", meta.datefmt).format(new Date(thing.data.date)) %></span></li>
<% } %>
</ul>