---json
{
  "layout": "default"
}
---

<%- content %>

<a href="lab.html" class="lablaunch">Launch the experiment</a>
<a href="<%= meta.github %>tree/master/static/lab/<%= page.inputPath.split('/').slice(-1)[0].split('.').slice(0, -1).join('.') %>" class="lablaunch">View source</a>
