@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,greek";
@import "config/miso";

$normal-text-size: 15px;
$headline-text-size: 21px;
$headline2-text-size: $headline-text-size;
$footer-text-size: 16px;

@mixin normal-text() {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: $normal-text-size;
	color: $text-color;
}

@mixin headline-text() {
	font-family: 'Miso', sans-serif;
	font-weight: 500;
	font-size: $headline-text-size;
	text-transform: uppercase;
	color: $text-color;
}

@mixin headline2-text() {
	font-family: 'Miso-Light', sans-serif;
	font-weight: 300;
	font-size: $headline2-text-size;
	text-transform: uppercase;
	color: $text-color;
}

@mixin footer-text() {
	font-family: 'Miso-Light', sans-serif;
	font-weight: 300;
	font-size: $footer-text-size;
	color: $text-color;
}
