$base-color: #ecece5;
$light-color: #ffffff;
$strong-color: #fdbc2e;
$text-color: #000000;
$thumb-size: 95px;

$corner-radius: 4px;
$gap: 15px;

$main-width: 1024px;
$main-padding: 50px 25px 50px 50px;

