---
layout: ""
---

<h1>Admin!</h1>
<a href="/.netlify/functions/login">Login</a>
<form enctype="multipart/form-data">
  <label>
    Publish date:
    <input type="date" name="date" >
  </label>
  <label>
    Description:
    <input type="text" value="description" >
  </label>
  <label>
    File:
    <input type="file" name="file" >
  </label>
  <input type="submit" value="go">
</form>
<script src="emitChunk(/admin.js)"></script>