.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--gallery-size));
  grid-auto-rows: var(--gallery-size);
  grid-gap: 10px;
  place-items: stretch;
  place-content: space-evenly;
}

.grid a {
  position: relative;
  margin: 0;
}
.grid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: initial;
  object-fit: contain;
  margin: 0;
}
