@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,greek";
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @license
 * MyFonts Webfont Build ID 2310112, 2012-06-15T06:41:27-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Miso by Mårten Nettelbladt
 * URL: http://www.myfonts.com/fonts/martennettelbladt/miso/regular/
 * Licensed pageviews: unlimited
 *
 * Webfont: Miso Bold by Mårten Nettelbladt
 * URL: http://www.myfonts.com/fonts/martennettelbladt/miso/bold/
 * Licensed pageviews: unspecified
 *
 * Webfont: Miso Light by Mårten Nettelbladt
 * URL: http://www.myfonts.com/fonts/martennettelbladt/miso/light/
 * Licensed pageviews: unspecified
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2310112
 * Webfonts copyright: Copyright (c) M&#x00E5;rten Nettelbladt, 2006. All rights reserved.
 *
 * © 2012 Bitstream Inc
*/
@font-face {
  font-family: 'Miso';
  src: url("webfonts/233FE0_0_0.eot");
  src: url("webfonts/233FE0_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/233FE0_0_0.woff") format("woff"), url("webfonts/233FE0_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Miso-Bold';
  src: url("webfonts/233FE0_1_0.eot");
  src: url("webfonts/233FE0_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/233FE0_1_0.woff") format("woff"), url("webfonts/233FE0_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Miso-Light';
  src: url("webfonts/233FE0_2_0.eot");
  src: url("webfonts/233FE0_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/233FE0_2_0.woff") format("woff"), url("webfonts/233FE0_2_0.ttf") format("truetype");
}

/* line 10, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/screen.scss */
body {
  background-color: #ecece5;
  width: 1024px;
  padding: 50px 25px 50px 50px;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  line-height: 1.35em;
}

/* line 4, ../sass/fragments/header/styling.scss */
body > header .wrapper div h1 {
  font-family: 'Miso', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: black;
}
/* line 7, ../sass/fragments/header/styling.scss */
body > header .wrapper div h2 {
  font-family: 'Miso-Light', sans-serif;
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  color: black;
}

/* line 1, ../sass/fragments/main/styling.scss */
body > #main {
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 2, ../sass/fragments/post/styling.scss */
body > #main h1 {
  font-family: 'Miso', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: black;
  background-color: #fdbc2e;
}
/* line 4, ../sass/fragments/post/styling.scss */
body > #main h1 a {
  text-decoration: none;
  color: black;
}
/* line 13, ../sass/fragments/post/styling.scss */
body > #main section div p a {
  color: #fdbc2e;
  text-decoration: none;
}
/* line 16, ../sass/fragments/post/styling.scss */
body > #main section div p a:hover {
  background-color: black;
}
/* line 20, ../sass/fragments/post/styling.scss */
body > #main section div p strong, body > #main section div p b {
  font-weight: 700;
}
/* line 23, ../sass/fragments/post/styling.scss */
body > #main section div p em, body > #main section div p i, body > #main section div p u {
  font-weight: 700;
}

/* line 3, ../sass/fragments/aside/styling.scss */
body > aside > .social div {
  margin-bottom: -15px;
}
/* line 5, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 7.5px;
}
/* line 9, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure a {
  display: inline;
  text-decoration: none;
}
/* line 12, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure a .normal {
  display: inline;
}
/* line 15, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure a .hover {
  display: none;
}
/* line 18, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure a:hover {
  background-color: transparent;
}
/* line 20, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure a:hover .normal {
  display: none;
}
/* line 23, ../sass/fragments/aside/styling.scss */
body > aside > .social div figure a:hover .hover {
  display: inline;
}
/* line 31, ../sass/fragments/aside/styling.scss */
body > aside > div {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Miso', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: black;
  background-color: white;
}
/* line 35, ../sass/fragments/aside/styling.scss */
body > aside > div h1 {
  font-family: 'Miso', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  background-color: #fdbc2e;
  margin: 15px 0;
}
/* line 40, ../sass/fragments/aside/styling.scss */
body > aside > div h1:first-child {
  margin-top: 0;
}
/* line 44, ../sass/fragments/aside/styling.scss */
body > aside > div.highlight {
  background-color: #fdbc2e;
  color: white;
}
/* line 48, ../sass/fragments/aside/styling.scss */
body > aside > div.merge {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}
/* line 52, ../sass/fragments/aside/styling.scss */
body > aside > div.merge + div {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
  padding-top: 0;
}
/* line 59, ../sass/fragments/aside/styling.scss */
body > aside > div a {
  text-decoration: none;
  color: black;
}
/* line 62, ../sass/fragments/aside/styling.scss */
body > aside > div a:hover {
  color: #fdbc2e;
  background-color: black;
}

/* line 1, ../sass/fragments/footer/styling.scss */
body > footer {
  font-family: 'Miso-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* line 5, ../sass/fragments/footer/styling.scss */
body > footer a {
  text-decoration: none;
  font-style: normal;
  color: black;
  padding: 0 15px;
}
/* line 10, ../sass/fragments/footer/styling.scss */
body > footer a:hover {
  background-color: black;
  color: #fdbc2e;
}

@media (min-width: 1024px) {
  /* line 4, ../sass/fragments/header/w1024.scss */
  body > header {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 85px;
    height: 420px;
    margin-right: 15px;
  }
  /* line 11, ../sass/fragments/header/w1024.scss */
  body > header .wrapper {
    position: absolute;
    top: -85px;
    right: 0px;
    width: 420px;
    text-align: right;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* line 19, ../sass/fragments/header/w1024.scss */
  body > header .wrapper div {
    display: inline-block;
    text-align: right;
    letter-spacing: 0.12em;
    vertical-align: bottom;
  }
  /* line 24, ../sass/fragments/header/w1024.scss */
  body > header .wrapper div h1 {
    line-height: 1em;
    font-size: 30px !important;
    letter-spacing: 0.12em;
    margin-bottom: 6px;
  }
  /* line 30, ../sass/fragments/header/w1024.scss */
  body > header .wrapper div h2 {
    line-height: 1em;
    font-size: 21px !important;
    letter-spacing: 0.12em;
    margin-bottom: 13px;
  }
  /* line 37, ../sass/fragments/header/w1024.scss */
  body > header .wrapper img {
    display: inline-block;
    margin-left: 40px;
  }

  /* line 1, ../sass/fragments/main/w1024.scss */
  body > #main {
    display: inline-block;
    vertical-align: top;
    padding: 15px 30px;
    width: 600px;
    margin-right: 15px;
  }

  /* line 2, ../sass/fragments/post/w1024.scss */
  body > #main > h1 {
    display: inline-block;
    margin-bottom: 30px;
  }
  /* line 6, ../sass/fragments/post/w1024.scss */
  body > #main > section {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 15px;
  }
  /* line 9, ../sass/fragments/post/w1024.scss */
  body > #main > section figure {
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  /* line 14, ../sass/fragments/post/w1024.scss */
  body > #main > section figure a.thumb {
    display: block;
  }
  /* line 17, ../sass/fragments/post/w1024.scss */
  body > #main > section figure a.image {
    display: none;
  }
  /* line 21, ../sass/fragments/post/w1024.scss */
  body > #main > section h1 {
    display: inline-block;
    margin-bottom: 15px;
  }
  /* line 24, ../sass/fragments/post/w1024.scss */
  body > #main > section h1:hover {
    display: block;
  }
  /* line 27, ../sass/fragments/post/w1024.scss */
  body > #main > section h1 a.open {
    display: inline;
  }
  /* line 30, ../sass/fragments/post/w1024.scss */
  body > #main > section h1 a.close {
    display: none;
  }
  /* line 35, ../sass/fragments/post/w1024.scss */
  body > #main > section div > * {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    line-height: 1.35em;
    display: none;
  }
  /* line 39, ../sass/fragments/post/w1024.scss */
  body > #main > section div p {
    margin: 15px 0;
  }
  /* line 41, ../sass/fragments/post/w1024.scss */
  body > #main > section div p:first-child {
    margin-top: 0;
  }
  /* line 44, ../sass/fragments/post/w1024.scss */
  body > #main > section div p:last-child {
    margin-bottom: 0;
  }
  /* line 48, ../sass/fragments/post/w1024.scss */
  body > #main > section div p:first-child {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: black;
    line-height: 1.35em;
    display: block;
  }
  /* line 54, ../sass/fragments/post/w1024.scss */
  body > #main > section:target h1 {
    display: block;
  }
  /* line 56, ../sass/fragments/post/w1024.scss */
  body > #main > section:target h1 a.open {
    display: none;
  }
  /* line 59, ../sass/fragments/post/w1024.scss */
  body > #main > section:target h1 a.close {
    display: inline;
  }
  /* line 63, ../sass/fragments/post/w1024.scss */
  body > #main > section:target figure {
    width: 100%;
    display: block;
    text-align: center;
    margin-right: 0;
  }
  /* line 68, ../sass/fragments/post/w1024.scss */
  body > #main > section:target figure .thumb {
    display: none;
  }
  /* line 71, ../sass/fragments/post/w1024.scss */
  body > #main > section:target figure .image {
    display: inline-block;
  }
  /* line 76, ../sass/fragments/post/w1024.scss */
  body > #main > section:target div > * {
    display: block;
  }
  /* line 79, ../sass/fragments/post/w1024.scss */
  body > #main > section:target div:after {
    display: block;
    width: 100%;
    height: 15px;
    background-color: #fdbc2e;
    margin-top: 15px;
    content: ' ';
  }

  /* line 1, ../sass/fragments/aside/w1024.scss */
  body > aside {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    margin-right: 15px;
  }
  /* line 6, ../sass/fragments/aside/w1024.scss */
  body > aside > div {
    font-size: 18px;
    padding: 15px 30px;
    margin: 15px 0;
  }
  /* line 10, ../sass/fragments/aside/w1024.scss */
  body > aside > div:first-child {
    margin-top: 0;
  }

  /* line 4, ../sass/fragments/footer/w1024.scss */
  body > footer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 420px;
  }
  /* line 10, ../sass/fragments/footer/w1024.scss */
  body > footer .wrapper {
    position: absolute;
    top: -16px;
    right: 0px;
    width: 420px;
    text-align: right;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* line 18, ../sass/fragments/footer/w1024.scss */
  body > footer .wrapper a {
    display: block;
    float: left;
  }
  /* line 22, ../sass/fragments/footer/w1024.scss */
  body > footer .wrapper div {
    display: inline-block;
    float: right;
  }
}
