{{ partial "header.html" . }}
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .posts {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
</head>
<body>
<h2>About</h2>
<p>
  <a href="https://twitter.com/dassurma">Das Surma</a>: Googler on the web. Internetrovert. Craving simplicity, finding it nowhere.
</p>
<h2>Most recent things</h2>
<ul class="posts">
{{ range .Data.Pages }}
  <li>
    <a href="{{.Permalink}}">{{.Title}}</a>
    <small>({{ .Date.Format "2006-01-02" }})</small>
  </li>
{{ end }}
</ul>


{{ partial "footer.html" . }}
