---json
{
  "live": false
}
---
<h2>All PostIts</h2>
<p>
PostIt Notes are short posts with a short half-life. They not geared to be educational but to merely document an interest fact, API or process that I encountered.
</p>
<ul class="postits collection">
  <%- include("../../_includes/listing", {items: collections.postits, max: -1}) %>
</ul>