* {
  box-sizing: border-box;
}
html, body {
  transition: background-color 1s ease-in-out;
}
html.noyellow {
  &, & > body {
    background-color: white;
  }
}
div.highlight {
  overflow: scroll;
  width: 100%;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
}
div.highlight pre {
  background-color: transparent;
}
pre, code {
  font-family: 'Source Code Pro';
  white-space: pre-wrap;
}
pre {
  background-color: rgba(0, 0, 0, 0.12);
  overflow-y: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  text-decoration: underline;
  color: inherit;
}
img, div.highlight {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.54);
}
blockquote {
  background-color: rgba(0, 0, 0, 0.12);
}
#TableOfContents {
  background-color: rgba(0, 0, 0, 0.12);
}
#TableOfContents a {
  text-decoration: none;
}
#yellowdude {
  &:before {
    content: '💡';
    padding-right: 1em;
  }
  position: fixed;
  transform: translateX(90%);
  border-top-left-radius: 2px;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.78);
  color: rgba(255, 255, 255, 0.78);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateX(0);
  }
  > span {
    cursor: pointer;
  }
}
