* {
  box-sizing: border-box;
}
div.highlight {
  padding: 0 15px;
  overflow: scroll;
  width: 100%;
}
pre, code {
  font-family: 'Source Code Pro';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  text-decoration: underline;
  color: inherit;
}
img, div.highlight {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.54);
}
