---
layout: boilerplate
socials:
 - name: gplus
   link: http://gplus.to/sur,a
 - name: xing
   link: http://xing.com/profile/Alexander_Surma
 - name: facebook
   link: http://facebook.com/surmair
 - name: twitter
   link: http://twitter.com/surmair
 - name: github
   link: http://github.com/surma
 - name: linkedin
   link: http://de.linkedin.com/pub/alexander-surma/50/b49/a30
---
<header>
	{% include header.html %}
</header>
<div id="main">
	{{content}}
</div>
<aside>
	{% include aside.html %}
</aside>
<footer>
	{% include footer.html %}
</footer>
