body > aside {
	> .social {
		div {
			margin-bottom: -$gap;
			figure {
				display: inline-block;
				margin-right: $gap;
				margin-bottom: $gap/2;
				a {
					display: inline;
					text-decoration: none;
					.normal {
						display: inline;
					}
					.hover {
						display: none;
					}
					&:hover {
						background-color: transparent;
						.normal {
							display: none;
						}
						.hover {
							display: inline;
						}
					}
				}
			}
		}
	}
	> div {
		@include box();
		@include headline-text();
		background-color: $light-color;
		h1 {
			@include headline-text();
			display: inline-block;
			background-color: $strong-color;
			margin: $gap 0;
			&:first-child {
				margin-top: 0;
			}
		}
		&.highlight {
			background-color: $strong-color;
			color: $light-color;
		}
		&.merge {
			@include border-bottom-right-radius(0);
			@include border-bottom-left-radius(0);
			margin-bottom: 0;
			+ div {
				@include border-top-right-radius(0);
				@include border-top-left-radius(0);
				margin-top: 0;
				padding-top: 0;
			}
		}
		a {
			text-decoration: none;
			color: $text-color;
			&:hover {
				color: $strong-color;
				background-color: $text-color;
			}
		}
	}
}
