body > aside {
	> .social, > .contact {
		a {
			&:before {
				display: none;
			}
		}
	}
	> div {
		@include box();
		@include headline-text();
		background-color: $light-color;
		h1 {
			@include headline-text();
			background-color: $strong-color;
		}
		&.highlight {
			background-color: $strong-color;
			color: $light-color;
		}
		a {
			text-decoration: none;
			color: $text-color;
		}
	}
}
