body > aside {
	display: inline-block;
	vertical-align: top;
	width: 190px;
	margin-right: $gap;
	> .social {
		div {
			margin-bottom: -$gap;
			figure {
				display: inline-block;
				margin-right: $gap;
				margin-bottom: $gap/2;
				a {
					display: inline;
					text-decoration: none;
					.normal {
						display: inline;
					}
					.hover {
						display: none;
					}
					&:hover {
						background-color: transparent;
						.normal {
							display: none;
						}
						.hover {
							display: inline;
						}
					}
				}
			}
		}
	}
	> div {
		font-size: 18px;
		padding: $gap 2*$gap;
		margin: $gap 0;
		&:first-child {
			margin-top: 0;
		}
		h1 {
			display: inline-block;
			margin: $gap 0;
			&:first-child {
				margin-top: 0;
			}
		}
		&.merge {
			@include border-bottom-right-radius(0);
			@include border-bottom-left-radius(0);
			margin-bottom: 0;
			+ div {
				@include border-top-right-radius(0);
				@include border-top-left-radius(0);
				margin-top: 0;
				padding-top: 0;
			}
		}
	}
}
