.data-table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}
.data-table {
  hyphens: none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.data-table th {
  font-variation-settings: "wght" var(--bold-font-weight);
  padding: .5em;
  text-align: left;
}
.data-table td {
  padding: .5em;
}
.data-table thead {
  background-color: var(--darkblue);
  color: var(--white);
}
.data-table tbody tr:nth-child(2n) {
  background-color: var(--white);
}
.data-table tbody tr {
  transition: 0.3s background-color linear;
}
.data-table tbody tr:hover {
  background-color: var(--orange);
}
.data-table .right {
  text-align: right;
}
