body > #main {
	h1 {
		@include headline-text();
		a {
			text-decoration: none;
			color: $text-color;
			&:before {
				display: none;
			}
		}
		background-color: $strong-color;
	}
	section {
		figure {
			a {
				&:hover {
					background-color: transparent;
				}
				&:before {
					display: none;
				}
			}
		}
		div {
			p {
				a {
					color: $strong-color;
					text-decoration: none;
					&:hover {
						background-color: black;
					}
				}
				strong, b {
					font-weight: 700;
				}
				em, i, u {
					font-weight: 700;
				}
			}
		}
	}
}
